- name: Install iptables-persistent
  ansible.builtin.apt:
    name: iptables-persistent
    state: present

- name: Enable IP forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    sysctl_set: true
    state: present
    reload: true

- name: Configure iptables for NAT
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    out_interface: "{{ ansible_default_ipv4.interface }}"
    jump: MASQUERADE

- name: Get current iptables rules
  ansible.builtin.command: iptables-save
  register: gateway_iptables_rules
  changed_when: false

- name: Save iptables rules to file
  ansible.builtin.copy:
    content: "{{ gateway_iptables_rules.stdout }}"
    dest: /etc/iptables/rules.v4
    mode: "0644"
