---
- name: Install development tooling packages
  ansible.builtin.apt:
    name:
      - build-essential
      - git
      - vim
      - pciutils
      - python3-pip
      - python3-venv
    state: present
    update_cache: yes
