---
- name: Check for Ubuntu ISO
  stat:
    path: /srv/ubuntu-22.04.4-live-server-amd64.iso
  register: iso_file

- name: Download Ubuntu 22.04.4 Server ISO
  get_url:
    url: https://releases.ubuntu.com/22.04.4/ubuntu-22.04.4-live-server-amd64.iso
    dest: /srv/ubuntu-22.04.4-live-server-amd64.iso
    mode: "0644"
  when: not iso_file.stat.exists

- name: Create mount point for ISO
  file:
    path: /mnt/ubuntu_iso
    state: directory
    mode: "0755"

- name: Mount Ubuntu ISO
  mount:
    path: /mnt/ubuntu_iso
    src: /srv/ubuntu-22.04.4-live-server-amd64.iso
    fstype: iso9660
    opts: ro,loop
    state: mounted

- name: Copy Ubuntu installer files to HTTP directory
  command: rsync -av /mnt/ubuntu_iso/ /srv/http/ubuntu2204/
  args:
    creates: /srv/http/ubuntu2204/casper

- name: Copy bootloader files to TFTP directory
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
    mode: "0644"
  loop:
    - { src: "/usr/lib/PXELINUX/pxelinux.0", dest: "/srv/tftp/pxelinux.0" }
    - {
        src: "/usr/lib/syslinux/modules/bios/ldlinux.c32",
        dest: "/srv/tftp/ldlinux.c32",
      }
    - {
        src: "/usr/lib/syslinux/modules/bios/libutil.c32",
        dest: "/srv/tftp/libutil.c32",
      }
    - {
        src: "/usr/lib/syslinux/modules/bios/menu.c32",
        dest: "/srv/tftp/menu.c32",
      }
    - {
        src: "/usr/lib/syslinux/modules/bios/vesamenu.c32",
        dest: "/srv/tftp/vesamenu.c32",
      }
    - { src: "/srv/http/ubuntu2204/casper/vmlinuz", dest: "/srv/tftp/vmlinuz" }
    - { src: "/srv/http/ubuntu2204/casper/initrd", dest: "/srv/tftp/initrd" }

- name: Create pxelinux.cfg directory
  file:
    path: /srv/tftp/pxelinux.cfg
    state: directory
    mode: "0755"

- name: Find public SSH keys
  find:
    paths: "~/.ssh/"
    patterns: "*.pub"
  register: ssh_keys
  delegate_to: localhost

- name: Fail if no SSH key is found
  fail:
    msg: "No SSH public key found in ~/.ssh/. Please create one."
  when: ssh_keys.matched == 0

- name: Ask user to select SSH key if multiple are found
  pause:
    prompt: "Multiple SSH public keys found. Please specify which one to use:\n{{ ssh_keys.files | map(attribute='path') | list | join('\\n') }}"
  register: selected_ssh_key
  when: ssh_keys.matched > 1

- name: Set SSH key path
  set_fact:
    ssh_key_path: "{{ ssh_keys.files[0].path if ssh_keys.matched == 1 else selected_ssh_key.user_input }}"

- name: Read SSH public key
  slurp:
    src: "{{ ssh_key_path }}"
  register: ssh_key_content
  delegate_to: localhost

- name: Set ssh_key fact
  set_fact:
    ssh_authorized_key: "{{ ssh_key_content.content | b64decode }}"

- name: Create user-data file for autoinstall
  template:
    src: user-data.j2
    dest: /srv/http/ubuntu2204/user-data
    mode: "0644"

- name: Create meta-data file for autoinstall
  template:
    src: meta-data.j2
    dest: /srv/http/ubuntu2204/meta-data
    mode: "0644"

- name: Create PXE boot menu
  template:
    src: pxe.cfg.j2
    dest: /srv/tftp/pxelinux.cfg/default
    mode: "0644"
