---
- name: Clean existing TFTP directory
  file:
    path: /srv/tftp
    state: absent

- name: Recreate TFTP directory
  file:
    path: /srv/tftp
    state: directory
    mode: "0755"

- name: Create GRUB network boot environment
  command: grub-mknetdir --net-directory=/srv/tftp --subdir=boot/grub
  args:
    creates: /srv/tftp/boot/grub/x86_64-efi/core.efi

- name: Find the latest kernel image in the NFS root
  shell: "ls -t /srv/nfs/ubuntu_golden/boot/vmlinuz-* | head -n 1"
  register: latest_kernel
  changed_when: false

- name: Find the latest initrd image in the NFS root
  shell: "ls -t /srv/nfs/ubuntu_golden/boot/initrd.img-* | head -n 1"
  register: latest_initrd
  changed_when: false

- name: Fail if kernel is not found
  fail:
    msg: "Could not find a kernel image in /srv/nfs/ubuntu_golden/boot"
  when: latest_kernel.stdout == ""

- name: Fail if initrd is not found
  fail:
    msg: "Could not find an initrd image in /srv/nfs/ubuntu_golden/boot"
  when: latest_initrd.stdout == ""

- name: Copy kernel and initrd from NFS root to TFTP directory
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
    mode: "0644"
  loop:
    - { src: "{{ latest_kernel.stdout }}", dest: "/srv/tftp/boot/grub/vmlinuz" }
    - { src: "{{ latest_initrd.stdout }}", dest: "/srv/tftp/boot/grub/initrd" }

- name: Check for SSH public key on control node
  stat:
    path: "~/.ssh/id_ed25519.pub"
  register: ssh_key_file
  become: no

- name: Fail if SSH key is not found on control node
  fail:
    msg: "SSH public key not found at ~/.ssh/id_ed25519.pub on the control node. Please create one."
  when: not ssh_key_file.stat.exists
  become: no

- name: Read SSH public key from control node
  slurp:
    src: "~/.ssh/id_ed25519.pub"
  register: ssh_key_content
  become: no

- name: Set ssh_key fact
  set_fact:
    ssh_authorized_key: "{{ ssh_key_content.content | b64decode }}"

- name: Create GRUB boot menu
  template:
    src: grub.cfg.j2
    dest: /srv/tftp/boot/grub/grub.cfg
    mode: "0644"
