---
- name: Ensure /mnt/ubuntu_iso is unmounted
  mount:
    path: /mnt/ubuntu_iso
    state: unmounted

- name: Check for Ubuntu ISO
  stat:
    path: /srv/ubuntu-22.04.4-live-server-amd64.iso
  register: iso_file

- name: Download Ubuntu 22.04.4 Server ISO
  get_url:
    url: https://releases.ubuntu.com/22.04.4/ubuntu-22.04.4-live-server-amd64.iso
    dest: /srv/ubuntu-22.04.4-live-server-amd64.iso
    mode: "0644"
  when: not iso_file.stat.exists

- name: Create mount point for ISO
  file:
    path: /mnt/ubuntu_iso
    state: directory
    mode: "0755"

- name: Mount Ubuntu ISO
  mount:
    path: /mnt/ubuntu_iso
    src: /srv/ubuntu-22.04.4-live-server-amd64.iso
    fstype: iso9660
    opts: ro,loop
    state: mounted

- name: Copy ISO contents to HTTP directory
  copy:
    src: /mnt/ubuntu_iso/
    dest: /srv/http/ubuntu2204/
    remote_src: yes
  become: yes

- name: Clean existing TFTP directory
  file:
    path: /srv/tftp
    state: absent

- name: Recreate TFTP directory
  file:
    path: /srv/tftp
    state: directory
    mode: "0755"

- name: Create GRUB network boot environment
  command: grub-mknetdir --net-directory=/srv/tftp --subdir=boot/grub
  args:
    creates: /srv/tftp/boot/grub/x86_64-efi/core.efi

- name: Copy legacy bootloader and menu files
  copy:
    src: "{{ item }}"
    dest: "/srv/tftp/"
    remote_src: yes
    mode: "0644"
  loop:
    - /usr/lib/PXELINUX/pxelinux.0
    - /usr/lib/syslinux/modules/bios/ldlinux.c32
    - /usr/lib/syslinux/modules/bios/libutil.c32
    - /usr/lib/syslinux/modules/bios/vesamenu.c32

- name: Find the kernel image in the NFS root
  find:
    paths: /srv/nfs/ubuntu2204/boot
    patterns: "vmlinuz-*"
  register: kernel_find

- name: Find the initrd image in the NFS root
  find:
    paths: /srv/nfs/ubuntu2204/boot
    patterns: "initrd.img-*"
  register: initrd_find

- name: Fail if kernel is not found
  fail:
    msg: "Could not find a kernel image in /srv/nfs/ubuntu2204/boot"
  when: kernel_find.matched == 0

- name: Fail if initrd is not found
  fail:
    msg: "Could not find an initrd image in /srv/nfs/ubuntu2204/boot"
  when: initrd_find.matched == 0

- name: Copy kernel and initrd from NFS root to TFTP directory
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
    mode: "0644"
  loop:
    - {
        src: "{{ kernel_find.files[0].path }}",
        dest: "/srv/tftp/boot/grub/vmlinuz",
      }
    - {
        src: "{{ initrd_find.files[0].path }}",
        dest: "/srv/tftp/boot/grub/initrd",
      }

- name: Check for SSH public key on control node
  stat:
    path: "~/.ssh/id_ed25519.pub"
  register: ssh_key_file
  become: no

- name: Fail if SSH key is not found on control node
  fail:
    msg: "SSH public key not found at ~/.ssh/id_ed25519.pub on the control node. Please create one."
  when: not ssh_key_file.stat.exists
  become: no

- name: Read SSH public key from control node
  slurp:
    src: "~/.ssh/id_ed25519.pub"
  register: ssh_key_content
  become: no

- name: Set ssh_key fact
  set_fact:
    ssh_authorized_key: "{{ ssh_key_content.content | b64decode }}"

- name: Create user-data file for autoinstall
  template:
    src: user-data.j2
    dest: /srv/http/ubuntu2204/user-data
    mode: "0644"

- name: Create meta-data file for autoinstall
  template:
    src: meta-data.j2
    dest: /srv/http/ubuntu2204/meta-data
    mode: "0644"

- name: Create GRUB boot menu
  template:
    src: grub.cfg.j2
    dest: /srv/tftp/boot/grub/grub.cfg
    mode: "0644"

- name: Create directory for legacy PXE boot menu
  file:
    path: /srv/tftp/pxelinux.cfg
    state: directory
    mode: "0755"

- name: Create PXE boot menu for legacy BIOS
  template:
    src: pxe.cfg.j2
    dest: /srv/tftp/pxelinux.cfg/default
    mode: "0644"
