---
- name: Install Docker
  ansible.builtin.apt:
    name:
      - docker.io
      - python3-docker
    state: present

- name: Ensure docker daemon is running
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Add ansible user to the docker group
  ansible.builtin.user:
    name: "{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"
    groups: docker
    append: yes
  when: ansible_virtualization_type != 'docker'
