---
- name: Install prerequisites
  ansible.builtin.apt:
    name:
      - python3-setuptools
      - python3-wheel
    state: present
    update_cache: true

- name: Download amdgpu-install package
  ansible.builtin.get_url:
    url: https://repo.radeon.com/amdgpu-install/6.4.4/ubuntu/noble/amdgpu-install_6.4.60404-1_all.deb
    dest: /tmp/amdgpu-install_6.4.60404-1_all.deb
    mode: "0644"

- name: Install amdgpu-install package
  ansible.builtin.apt:
    deb: /tmp/amdgpu-install_6.4.60404-1_all.deb
    state: present
  become: true

- name: Run amdgpu-install
  ansible.builtin.command:
    cmd: amdgpu-install -y --usecase=graphics,rocm,rocmdevtools,opencl,openclsdk
  become: true
  register: amdgpu_install_result
  changed_when: amdgpu_install_result.rc == 0

- name: Add compute user to render and video groups
  ansible.builtin.user:
    name: compute
    groups: render,video
    append: true
  become: true
