---
- name: Update apt cache
  apt:
    update_cache: yes
  changed_when: false

- name: Install required packages
  apt:
    name:
      - nginx
      - dnsmasq
      - syslinux-common
      - pxelinux
      - p7zip-full
      - grub-efi-amd64-bin
    state: present

- name: Create TFTP and HTTP directories
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /srv/tftp
    - /srv/http
    - /srv/http/ubuntu_golden

- name: Configure SSH client for compute nodes
  blockinfile:
    path: "{{ ansible_env.HOME }}/.ssh/config"
    create: yes
    mode: "0600"
    block: |
      Host {{ compute_subnet }}.*
          StrictHostKeyChecking no
          UserKnownHostsFile /dev/null

- name: Configure compute interface IP address
  template:
    src: 99-onedotzero-compute.yaml.j2
    dest: /etc/netplan/99-onedotzero-compute.yaml
    mode: "0644"
  notify: apply netplan
