---
- name: Ensure dependencies for adding repository are installed
  ansible.builtin.apt:
    name:
      - gpg-agent
      - wget
    state: present
    update_cache: yes

- name: Get Intel graphics GPG key
  ansible.builtin.get_url:
    url: https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
    dest: /usr/share/keyrings/oneapi-archive-keyring.key
    mode: "0644"
    force: true

- name: Add Intel oneAPI repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/oneapi-archive-keyring.key] https://apt.repos.intel.com/oneapi all main"
    state: present
    filename: oneapi

- name: Install Intel oneAPI base toolkit
  ansible.builtin.apt:
    name:
      - intel-basekit=2025.1.3-6
    state: present
    update_cache: yes
