---
- name: Ensure software-properties-common is installed
  apt:
    name: software-properties-common
    state: present
    update_cache: yes

- name: Add deadsnakes PPA for newer Python versions
  ansible.builtin.apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present

- name: Install python3-venv package
  apt:
    name: python3-venv
    state: present
    update_cache: yes

- name: Install python3.11-venv package
  apt:
    name: python3.11-venv
    state: present
    update_cache: yes

- name: Ensure the target directory for venv exists
  file:
    path: /opt/venvs
    state: directory
    mode: "0755"
    owner: compute
    group: compute
