---
- name: Configure Docker daemon to listen on Unix socket and use VFS
  ansible.builtin.copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "hosts": ["unix:///var/run/docker.sock"],
        "storage-driver": "vfs"
      }
    mode: "0644"

- name: Start Docker daemon in chroot
  ansible.builtin.shell:
    cmd: "dockerd > /tmp/dockerd-build.log 2>&1 &"
  changed_when: false

- name: Wait for Docker socket to be available
  ansible.builtin.wait_for:
    path: /var/run/docker.sock
    state: present
    timeout: 30
