---
- name: Enable Wake-on-LAN for all ethernet interfaces
  copy:
    dest: /etc/netplan/99-wol.yaml
    content: |
      network:
        version: 2
        ethernets:
          all-ethernets:
            match:
              name: "e*"
            wakeonlan: true
  notify: apply netplan
