---
- name: Install python3-venv package
  apt:
    name: python3-venv
    state: present
    update_cache: yes

- name: Ensure the target directory for venv exists
  file:
    path: /opt/venvs
    state: directory
    mode: "0755"

- name: Create the onedotzero virtual environment
  command:
    cmd: python3 -m venv /opt/venvs/onedotzero
    creates: /opt/venvs/onedotzero/bin/pip

- name: Install torch, ipex, and pytest in the venv
  pip:
    name:
      - torch
      - intel-extension-for-pytorch
      - pytest
    executable: /opt/venvs/onedotzero/bin/pip3
