server {
    listen {{ hostvars['localhost']['ansible_' + compute_interface]['ipv4']['address'] }}:80;
    server_name pxe-server;

    root /srv/http;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}
