---
- name: Configure APT sources for chroot
  ansible.builtin.copy:
    dest: /etc/apt/sources.list
    # hitting a ton of "Too Many Requests" errors on github CI with normal ubuntu URLS so us azure mirrors
    content: |
      deb http://azure.archive.ubuntu.com/ubuntu plucky main restricted universe multiverse
      deb http://azure.archive.ubuntu.com/ubuntu plucky-updates main restricted universe multiverse
      deb http://azure.archive.ubuntu.com/ubuntu plucky-security main restricted universe multiverse
      deb http://azure.archive.ubuntu.com/ubuntu plucky-backports main restricted universe multiverse
    mode: "0644"

- name: Update apt cache and upgrade system in chroot
  ansible.builtin.apt:
    update_cache: true
    upgrade: dist

- name: Install base packages in chroot
  ansible.builtin.apt:
    name:
      - linux-image-generic
      - linux-firmware
      - openssh-server
      - nfs-common
      - overlayroot
    state: present

# User config
- name: Ensure root .ssh directory exists in chroot
  ansible.builtin.file:
    path: /root/.ssh
    state: directory
    mode: "0700"

- name: Add SSH key to root user in chroot
  ansible.builtin.copy:
    content: "{{ ssh_key_for_chroot }}"
    dest: /root/.ssh/authorized_keys
    mode: "0600"

- name: Create compute user in chroot
  ansible.builtin.user:
    name: compute
    shell: /bin/bash
    create_home: true
    state: present

- name: Ensure .ssh directory exists for compute user in chroot
  ansible.builtin.file:
    path: /home/compute/.ssh
    state: directory
    owner: compute
    group: compute
    mode: "0700"

- name: Add SSH key for compute user in chroot
  ansible.builtin.copy:
    content: "{{ ssh_key_for_chroot }}"
    dest: /home/compute/.ssh/authorized_keys
    owner: compute
    group: compute
    mode: "0600"

- name: Grant passwordless sudo to compute user in chroot
  ansible.builtin.copy:
    content: "compute ALL=(ALL) NOPASSWD: ALL"
    dest: /etc/sudoers.d/compute
    mode: "0440"

# system config
- name: Set hostname in chroot
  ansible.builtin.copy:
    content: "compute-node"
    dest: /etc/hostname
    mode: "0644"

- name: Add network drivers to initramfs modules
  ansible.builtin.blockinfile:
    path: /etc/initramfs-tools/modules
    create: true
    mode: "0644"
    block: |
      # USB Host Controllers (Required for USB Ethernet)
      xhci_pci
      xhci_hcd
      ehci_pci

      # USB Networking Stack
      usbnet
      cdc_ether
      rndis_host

      # Realtek USB (Framework / Dongles)
      r8152
      r8153_ecm

      # Realtek PCIe (Standard Onboard)
      r8169

      # Intel / Broadcom / Mellanox (Common Server/Desktop NICs)
      e1000e
      igb
      ixgbe
      bnx2
      bnx2x
      mlx4_en
      mlx5_core

- name: Configure overlayroot
  ansible.builtin.copy:
    content: |
      overlayroot="tmpfs:swap=1,exclude=/opt/models"
    dest: /etc/overlayroot.conf
    mode: "0644"

- name: Create fstab in chroot
  ansible.builtin.copy:
    dest: /etc/fstab
    content: |
      proc /proc proc defaults 0 0
      sysfs /sys sysfs defaults 0 0
    mode: "0644"
# 192.168.10.1:/opt/models /opt/models nfs defaults 0 0

- name: Update the initramfs in the chroot
  ansible.builtin.command: "update-initramfs -u"
  changed_when: false

# Profiling related tools
- name: Install btop
  ansible.builtin.apt:
    name: btop
    state: present

- name: Install nvtop
  ansible.builtin.apt:
    name: nvtop
    state: present

- name: Install sensors
  ansible.builtin.apt:
    name: lm-sensors
    state: present

- name: Install bmon
  ansible.builtin.apt:
    name: bmon
    state: present

- name: Install tcptrack
  ansible.builtin.apt:
    name: tcptrack
    state: present

- name: Install perf
  ansible.builtin.apt:
    name: linux-perf
    state: present

- name: Install sysbench
  ansible.builtin.apt:
    name: sysbench
    state: present
