---
- name: Install required packages
  ansible.builtin.apt:
    name:
      - nginx
      - dnsmasq
      - syslinux-common
      - pxelinux
      - p7zip-full
      - grub-efi-amd64-bin
      - ssh
    state: present
    update_cache: true

- name: Create TFTP and HTTP directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /srv/tftp

- name: Configure SSH client for compute nodes
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.ssh/config"
    create: true
    mode: "0600"
    block: |
      Host {{ compute_subnet }}.*
          StrictHostKeyChecking no
          UserKnownHostsFile /dev/null

- name: Configure compute interface IP address
  ansible.builtin.template:
    src: 99-onedotzero-compute.yaml.j2
    dest: /etc/netplan/99-onedotzero-compute.yaml
    mode: "0644"
  notify: Apply netplan
  changed_when: false
  when: ansible_virtualization_type != 'docker'

- name: Reset SSH connection to apply group changes
  ansible.builtin.meta: reset_connection
  when: ansible_virtualization_type != 'docker'

- name: Stop and disable conflicting dhcpd service
  ansible.builtin.systemd:
    name: isc-dhcp-server
    state: stopped
    enabled: false
  ignore_errors: true

- name: Stop and disable conflicting tftpd service
  ansible.builtin.systemd:
    name: tftpd-hpa
    state: stopped
    enabled: false
  ignore_errors: true

- name: Disable systemd-resolved stub listener
  become: true
  block:
    - name: Stop and disable systemd-resolved service
      ansible.builtin.systemd:
        name: systemd-resolved
        state: stopped
        enabled: false

    - name: Configure systemd-resolved to not use a stub listener
      ansible.builtin.lineinfile:
        path: /etc/systemd/resolved.conf
        regexp: "^#?DNSStubListener="
        line: "DNSStubListener=no"
        create: true
        mode: "0644"

    - name: Ensure /etc/resolv.conf is a symlink to /run/systemd/resolve/resolv.conf
      ansible.builtin.file:
        src: /run/systemd/resolve/resolv.conf
        dest: /etc/resolv.conf
        state: link
        force: true

    - name: Restart systemd-resolved
      ansible.builtin.systemd:
        name: systemd-resolved
        state: restarted
        enabled: true
