---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  changed_when: false

- name: Install required packages
  ansible.builtin.apt:
    name:
      - nginx
      - dnsmasq
      - syslinux-common
      - pxelinux
      - p7zip-full
      - grub-efi-amd64-bin
      - docker.io
    state: present

- name: Ensure docker daemon is running
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Create TFTP and HTTP directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /srv/tftp
    - /srv/http
    - /srv/http/ubuntu_golden

- name: Configure SSH client for compute nodes
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.ssh/config"
    create: true
    mode: "0600"
    block: |
      Host {{ compute_subnet }}.*
          StrictHostKeyChecking no
          UserKnownHostsFile /dev/null

- name: Configure compute interface IP address
  ansible.builtin.template:
    src: 99-onedotzero-compute.yaml.j2
    dest: /etc/netplan/99-onedotzero-compute.yaml
    mode: "0644"
  notify: Apply netplan
  changed_when: false

- name: Add ansible user to the docker group
  ansible.builtin.user:
    name: "{{ ansible_env.SUDO_USER }}"
    groups: docker
    append: yes

- name: Reset SSH connection to apply group changes
  ansible.builtin.meta: reset_connection
