---
- name: Install NFS server dependencies
  apt:
    name:
      - nfs-kernel-server
    state: present
    update_cache: yes

- name: Create NFS root directory
  file:
    path: /srv/nfs/ubuntu_golden
    state: directory
    mode: "0755"

- name: Configure NFS exports
  template:
    src: exports.j2
    dest: /etc/exports

- name: Re-export NFS shares
  command: exportfs -ra
  changed_when: false

- name: Ensure nfs-kernel-server is started and enabled
  service:
    name: nfs-kernel-server
    state: started
    enabled: yes
