#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: ubuntu-server
    password: "$6$saltsalt$IO3nWeJ.V.a.b.c.d.e.f.g.h.i.j.k.l.m.n.o.p.q.r.s.t.u.v.w.x.y.z"
    username: admin
  ssh:
    install-server: true
    allow-pw: false
    authorized-keys:
      - {{ ssh_authorized_key }}
  late-commands:
    - echo "Done with autoinstall" > /target/var/log/autoinstall.log
