---
- name: Unmount chroot /proc
  ansible.posix.mount:
    path: "{{ golden_image_build_dir }}/proc"
    state: unmounted
  changed_when: false

- name: Unmount chroot /dev/pts
  ansible.posix.mount:
    path: "{{ golden_image_build_dir }}/dev/pts"
    state: unmounted
  changed_when: false

- name: Unmount chroot /dev
  ansible.posix.mount:
    path: "{{ golden_image_build_dir }}/dev"
    state: unmounted
  changed_when: false

- name: Unmount chroot /sys/fs/cgroup
  ansible.posix.mount:
    path: "{{ golden_image_build_dir }}/sys/fs/cgroup"
    state: unmounted
  changed_when: false

- name: Unmount chroot /sys
  ansible.posix.mount:
    path: "{{ golden_image_build_dir }}/sys"
    state: unmounted
  changed_when: false
