---
- name: Unmount chroot /proc
  ansible.posix.mount:
    path: /srv/nfs/ubuntu_golden/proc
    state: unmounted

- name: Unmount chroot /dev/pts
  ansible.posix.mount:
    path: /srv/nfs/ubuntu_golden/dev/pts
    state: unmounted

- name: Unmount chroot /dev
  ansible.posix.mount:
    path: /srv/nfs/ubuntu_golden/dev
    state: unmounted

- name: Unmount chroot /sys/fs/cgroup
  ansible.posix.mount:
    path: /srv/nfs/ubuntu_golden/sys/fs/cgroup
    state: unmounted

- name: Unmount chroot /sys
  ansible.posix.mount:
    path: /srv/nfs/ubuntu_golden/sys
    state: unmounted
