---
# Play 1: Gather SSH key from the user running the playbook
- hosts: localhost
  connection: local
  become: no
  vars_files:
    - vars/main.yml
    - "hardware_vars/{{ hardware_version }}.yml"
  tasks:
    - name: Set real user dir fact
      set_fact:
        real_user_dir: "{{ ansible_env.HOME }}"

    - name: Read SSH public key
      slurp:
        src: "{{ real_user_dir }}/.ssh/id_ed25519.pub"
      register: ssh_public_key_slurp

    - name: Set SSH public key fact
      set_fact:
        ssh_public_key: "{{ ssh_public_key_slurp['content'] | b64decode }}"

# Play 2: Prepare the chroot environment on the control node
- hosts: localhost
  connection: local
  become: yes
  vars_files:
    - vars/main.yml
    - "hardware_vars/{{ hardware_version }}.yml"
  pre_tasks:
    - name: Check for passwordless sudo
      command: sudo -n true
      register: sudo_check
      ignore_errors: true
      changed_when: false

    - name: Fail if passwordless sudo is not configured
      fail:
        msg: |
          Passwordless sudo is not configured for the current user.
          Please configure it by running 'sudo visudo' on the control node
          and adding the following line to the end of the file:
          <username> ALL=(ALL) NOPASSWD: ALL
          (replace <username> with your actual username)
      when: sudo_check.rc != 0
  tasks:
    - name: Install debootstrap dependencies
      apt:
        name:
          - debootstrap
        state: present
        update_cache: yes

    - name: Create NFS root directory
      file:
        path: /srv/nfs/ubuntu_golden
        state: directory
        mode: "0755"

    - name: Check if debootstrap has already run
      stat:
        path: /srv/nfs/ubuntu_golden/etc/os-release
      register: debootstrap_check

    - name: Run debootstrap to create Ubuntu 24.04 filesystem
      command: debootstrap --arch=amd64 noble /srv/nfs/ubuntu_golden
      when: not debootstrap_check.stat.exists

    - name: Copy host's resolv.conf for network access in chroot
      copy:
        src: /etc/resolv.conf
        dest: /srv/nfs/ubuntu_golden/etc/resolv.conf
        remote_src: yes

    - name: Mount pseudo-filesystems for chroot
      mount:
        path: "/srv/nfs/ubuntu_golden/{{ item }}"
        src: "/{{ item }}"
        fstype: none
        opts: bind
        state: mounted
      loop:
        - proc
        - sys
        - dev

    - name: Add golden_image_chroot host to inventory
      add_host:
        name: golden_image_chroot
        ansible_connection: chroot
        ansible_host: /srv/nfs/ubuntu_golden
        ssh_key_for_chroot: "{{ ssh_public_key }}"
      changed_when: false

# Play 3: Configure the golden image via chroot and cleanup
- hosts: golden_image_chroot
  become: yes
  vars_files:
    - "vars/main.yml"
    - "hardware_vars/{{ hardware_version }}.yml"
  tasks:
    - block:
        - name: Include chroot_config role
          include_role:
            name: chroot_config
        - name: Include networkd_wol role
          include_role:
            name: networkd_wol
        - name: Include venv role
          include_role:
            name: venv
        - name: Include vllm_source role
          include_role:
            name: vllm_source
        - name: Include hardware-specific golden image roles
          ansible.builtin.include_role:
            name: "{{ item }}"
          loop: "{{ hardware_golden_image_roles | default([]) }}"
      always:
        - name: Run chroot cleanup tasks on localhost
          ansible.builtin.include_role:
            name: chroot_cleanup
            apply:
              delegate_to: localhost
              become: yes
