---
# Play 1: Gather SSH key from the user running the playbook
- name: Set real user dir fact
  hosts: "{{ target_host | default('localhost') }}"
  become: false
  vars_files:
    - vars/main.yml
    - "hardware_vars/{{ hardware_version }}.yml"
  tasks:
    - name: Set real user dir fact
      ansible.builtin.set_fact:
        real_user_dir: "{{ ansible_env.HOME }}"

- name: Clean up and remove the golden image
  hosts: "{{ target_host | default('localhost') }}"
  become: true
  gather_facts: true
  vars_files:
    - vars/main.yml
    - "hardware_vars/{{ hardware_version }}.yml"
  tasks:
    - name: Ensure chroot filesystems are unmounted
      ansible.builtin.include_role:
        name: control/chroot_connection_cleanup

    - name: Remove the golden image directory
      ansible.builtin.file:
        path: "{{ golden_image_build_outer_dir }}"
        state: absent
