- hosts: compute
  connection: ssh
  become: yes
  gather_facts: yes
  vars_files:
    - "hardware_vars/{{ hardware_version }}.yml"

  pre_tasks:
    - name: Remove old SSH host key for compute node
      command: "ssh-keygen -R {{ inventory_hostname }}"
      delegate_to: localhost
      ignore_errors: true

  roles:
    - networkd_wol

  tasks:
    - name: Include hardware-specific configuration roles
      ansible.builtin.include_role:
        name: "{{ item }}"
      loop: "{{ hardware_compute_configure_roles | default([]) }}"

  post_tasks:
    - name: Touch timestamp file for compute node
      file:
        path: /etc/last_configured_compute
        state: touch
