---
# Play 1: Run tasks as the ansible_user
- hosts: localhost
  connection: local
  become: no
  vars_files:
    - vars/main.yml
    - "hardware_vars/{{ hardware_version }}.yml"
  tasks:
    - name: Configure SSH client for compute nodes
      blockinfile:
        path: "{{ ansible_user_dir }}/.ssh/config"
        create: yes
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
        mode: 0600
        block: |
          {% for node in compute_nodes %}
          Host {{ node.name }}
            HostName {{ node.ip }}
            User compute
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
          {% endfor %}

# Play 2: Run tasks as root
- hosts: localhost
  connection: local
  become: yes
  vars_files:
    - vars/main.yml
    - "hardware_vars/{{ hardware_version }}.yml"
  pre_tasks:
    - name: Check for passwordless sudo
      command: sudo -n true
      register: sudo_check
      ignore_errors: true
      changed_when: false

    - name: Fail if passwordless sudo is not configured
      fail:
        msg: |
          Passwordless sudo is not configured for the current user.
          Please configure it by running 'sudo visudo' on the control node
          and adding the following line to the end of the file:
          <username> ALL=(ALL) NOPASSWD: ALL
          (replace <username> with your actual username)
      when: sudo_check.rc != 0

    - name: Install Ansible
      apt:
        name: ansible
        state: present
        update_cache: yes
  roles:
    - common
    - gateway

- hosts: localhost
  connection: local
  become: yes
  vars_files:
    - vars/main.yml
    - "hardware_vars/{{ hardware_version }}.yml"
  tasks:
    - name: Refresh network facts
      setup:
        filter: "ansible_network_resources"
  roles:
    - nfs_server
    - pxe_boot
    - dnsmasq

  post_tasks:
    - name: Ensure remote directory exists
      file:
        path: "{{ ansible_user_dir }}/remote/onedotzero"
        state: directory
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
        mode: "0755"

    - name: Restart dnsmasq
      service:
        name: dnsmasq
        state: restarted
