---
- hosts: control
  become: yes
  vars_files:
    - vars/main.yml
  pre_tasks:
    - name: Check for passwordless sudo
      command: sudo -n true
      register: sudo_check
      ignore_errors: true
      changed_when: false

    - name: Fail if passwordless sudo is not configured
      fail:
        msg: |
          Passwordless sudo is not configured for the current user.
          Please configure it by running 'sudo visudo' on the control node
          and adding the following line to the end of the file:
          <username> ALL=(ALL) NOPASSWD: ALL
          (replace <username> with your actual username)
      when: sudo_check.rc != 0

    - name: Install Ansible
      apt:
        name: ansible
        state: present
        update_cache: yes
  roles:
    - common
    - pxe_boot
    - nginx
    - dnsmasq
