- hosts: control
  become: yes
  vars_files:
    - "vars/main.yml"
    - "hardware_vars/{{ hardware_version }}.yml"
  tasks:
    - name: Send Wake-on-LAN packet to all compute nodes
      command: "wakeonlan -i {{ broadcast_address }} {{ item.mac }}"
      loop: "{{ compute_nodes }}"
      loop_control:
        label: "{{ item.name }}"
