---
- name: Create venv for ansible tooling
  ansible.builtin.pip:
    name:
      - molecule
      - "molecule-plugins[docker]"
      - molecule-vagrant
      - ansible-lint
      - netaddr
    state: present
    virtualenv: "~/venvs/onedotzero"
    virtualenv_command: "python3 -m venv"

- name: Install required ansible collections
  ansible.builtin.command:
    cmd: >
      ~/venvs/onedotzero/bin/ansible-galaxy collection install
      ansible.posix
      community.general
      community.crypto
      community.docker
  changed_when: false
