/srv/nfs/ubuntu2404 {{ hostvars['localhost']['ansible_' + compute_interface]['ipv4']['network'] }}/{{ hostvars['localhost']['ansible_' + compute_interface]['ipv4']['netmask'] }}(rw,sync,no_subtree_check,no_root_squash,fsid=0)
