[Unit]
Description=Ray Worker Service
After=network.target

[Service]
# User running the Ray cluster
# Consider creating a dedicated 'ray' user for production.
User=root

ExecStart=/opt/scripts/start_ray.sh
ExecStop={{ vllm_venv_path }}/bin/ray stop

# Restart the service on failure to increase robustness.
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
