interface={{ compute_interface }}
bind-interfaces
dhcp-range={{ compute_interface }},192.168.1.50,192.168.1.100,12h
dhcp-option=option:dns-server,8.8.8.8

# Static DHCP assignments for compute nodes
{% for node in compute_nodes %}
dhcp-host={{ node.mac }},{{ node.ip }},{{ node.name }}
{% endfor %}


# Set the boot file for UEFI clients
dhcp-match=set:efi-x86_64,option:client-arch,7
dhcp-boot=tag:efi-x86_64,boot/grub/x86_64-efi/core.efi



enable-tftp
tftp-root=/srv/tftp
log-dhcp
log-queries
