---
- name: Create systemd service file for Ray Worker node
  ansible.builtin.template:
    src: ray.service.j2
    dest: /etc/systemd/system/ray.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - Systemd_daemon_reload

- name: Enable and start Ray Worker service
  ansible.builtin.systemd:
    name: ray
    state: started
    enabled: true
  tags:
    - start-ray
