#!/bin/bash
set -e # Exit immediately if a command exits with a non-zero status.

source {{ vllm_venv_path }}/bin/activate

if [ ! -f setup.py ]; then cd python; fi

python3 setup.py install

echo "--- Build script finished successfully ---"
